run = "node server.js"
modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["postgresql"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001
